/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #dde;
}

body {
  width: 80%;
  min-width: 1024px;
  margin: 0 auto;
}

/* Visually hidden class for screen reader accessibility */

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* || Typography */

h1, h2, h3 {
  font-family: 'Sonsie One', cursive;
  color: #2a2a2a;
  margin-bottom: 0.5em;
}

p, input, li, table, label, a {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #2a2a2a;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: #2a2a2a;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}

p, li, table {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || Header and Navigation */

header {
  background-color: #dde;
  padding: 20px 0;
}

nav, article, footer, .secondary {
  background-color: #def;
}

article, footer, .secondary {
  padding: 10px 30px;
}

article {
  margin-right: 10px;
}

nav {
  height: 50px;
  display: flex;
  padding: 1% 0;
  margin-bottom: 10px;
  align-items: center;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
  margin: 0;
}

nav li {
  flex: 1;
  text-align: center;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #900; /* Improved contrast */
}

nav .search {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

.search input {
  font-size: 1.6rem;
  height: 32px;
}

.search input[type="search"] {
  flex: 3;
}

.search input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: white;
}

/* || Main layout */

main {
  display: flex;
}

article {
  flex: 5;
}

.secondary {
  flex: 2;
}

footer {
  margin-top: 10px;
}

/* Table styling */

table {
  width: 100%;
  background-color: #dde;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

td {
  text-align: center;
}

th[scope="col"] {
  border-bottom: 1px solid black;
}

tbody tr:nth-child(odd) {
  background-color: #def;
}

/* Styling content images and audio */

img, audio {
  display: block;
  margin: 0 auto;
}

audio {
  width: 500px;
}

/* Comments styling */

.comments {
  background-color: #def;
  padding: 10px;
}

.show-hide {
  cursor: pointer;
}

.comment-form {
  margin-bottom: 3rem;
}

.comment-form .flex-pair {
  display: flex;
  padding: 0 3rem 1rem;
}

.comment-form label {
  align-self: center;
  flex: 2;
  text-align: right;
}

.comment-form input {
  margin-left: 1rem;
  flex: 6;
}

.show-hide {
  text-align: center;
  width: 150px;
}

.comment-form input, .comment-form label, .show-hide {
  font-size: 1.6rem;
  line-height: 32px;
}

.comment-form input[type="submit"], .show-hide {
  background: #333;
  border: 0;
  color: white;
}

.comment-form input[type="submit"] {
  width: 30%;
  display: block;
  margin: 0 auto;
}

.comment-container {
  margin-top: 0;
}

.comment-container li {
  list-style-type: none;
  display: flex;
  margin-bottom: 1rem;
}

.comment-container li p {
  margin: 0;
}

.comment-container li p strong {
  font-weight: bold;
}

.comment-container li p:nth-child(1) {
  flex: 1;
}

.comment-container li p:nth-child(2) {
  flex: 5;
}
